<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div><h1>TV Shows!</h1></div>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                           
            {% for message in messages %}            
                <p>{{message}}</p>                   
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="register">

        <h1>Register</h1>
        <form action="/register_user" method="POST">

            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <label for="password">Password:</label>
            <input type="text" name="password">
            <label for="confirm_password">Confirm Password:</label>
            <input type="text" name="confirm_password">
            <input type="submit" value="Submit">
        </form> 
    </div>

    <div class="login">
        <h1>Login</h1>
        <form action="/log_in_user" method="POST">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Log In">
        </tbody>
        </table>
    </div>

</body>
</html>